body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'judson-bold';
  src: local('JudsonBold'), url(./fonts/Judson-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'judson-regular';
  src: local('JudsonRegular'), url(./fonts/Judson-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'raleway-black';
  src: local('RalewayBlack'), url(./fonts/Raleway-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'raleway-light';
  src: local('RalewayLight'), url(./fonts/Raleway-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'raleway-regular';
  src: local('RalewayRegular'), url(./fonts/Raleway-Regular.ttf) format('truetype');
}

